
.icon{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}
.dropdown{
    display: none;
}


@media screen and (max-width: 700px) {
    .icon{
        display: none;
    }
    .dropdown{
        display: block;
    }
   
}



