.font-adlam{
    font-family: "ADLaM Display", serif;

}
.font-sora{
    font-family: "Sora", serif;
}


.icon{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}
.dropdown{
    display: none;
}
.lol{
    display: block;
}
.foot{
    position: absolute;
}
.foot_card{
    position: relative;
    margin-bottom: -180px;
}


@media screen and (max-width: 700px) {
    .icon{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .lol{
        display: none;
    }
    .foot_card{
        margin-bottom: 8px;
        width: auto;
        margin: 7px;
    }
    .hee{
        align-items: center;
    }
    
    .card_text{
        text-align: center;
    }
    
    
   
}



